<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="utf-8"/>
    <title>BeerTag | AllBeers</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<!-- The header and footer section are the same in each page -->
<header>
    <div th:replace="HeaderTemplate:: navigation-bar"></div>
</header>

<div>
    <div class="center">
        <form th:action="@{/beers}" method="get" class="margin12">
            <label class="form-label" for="beerName">Beer name</label><br/>
            <input id="beerName" name="beerName" type="text" class="form-input"
                   placeholder="e.g., Hazy, Stout…" th:value="${param.beerName}"/><br/>


            <label for="styleName" class="form-label">Style name</label><br>
            <input id="styleName" name="styleName" type="text" class="form-input"
                   placeholder="IPA, Lager, Stout…" th:value="${param.styleName}"/><br/>


            <label class="form-label">ABV range (%)</label><br>

            <label for="minAbv" class="form-label">Min: </label>
            <input id="minAbv" name="minAbv" type="number" min="0" max="20" step="0.1" class="form-input"
                   placeholder="Min" th:value="${param.minAbv}"/><br/>

            <label for="maxAbv" class="form-label">Max: </label>
            <input id="maxAbv" name="maxAbv" type="number" min="0" max="20" step="0.1" class="form-input"
                   placeholder="Max" th:value="${param.maxAbv}"/><br>


            <button type="submit" class="btn-primary">Filter</button>
            <button type="button" class="btn-danger"
                    th:onclick="|window.location.href='@{/beers}'|">
                Clear
            </button>

            <input type="hidden" name="sortBy" th:value="${param.sortBy}"/>
            <input type="hidden" name="sortOrder" th:value="${param.sortOrder}"/>
        </form>
    </div>


    <!-- If there are no beers -->

    <div th:if="${beers.isEmpty()}">
        <h2 class="center">No Beers</h2>
    </div>
    <!-- If there are beers -->
    <div th:with="
     curSort=${param.sortBy},
     curDir=${param.sortOrder},
     nextDir=${#strings.equalsIgnoreCase(curDir,'asc') ? 'desc' : 'asc'}">
        <!--        <div th:text="${curSort}"></div>-->
        <!--        <div th:text="${curDir}"></div>-->
        <!--        <div th:text="${nextDir}"></div>-->
        <div th:if="${!beers.isEmpty()}">
            <h2 class="center">All Beers</h2>
            <div class="table">
                <div class="header">
                    <!-- Sort by name -->
                    <a class="header-cell"
                       th:href="@{/beers(
             beerName=${param.beerName},
             styleName=${param.styleName},
             minAbv=${param.minAbv},
             maxAbv=${param.maxAbv},
             sortBy='name',
             sortOrder=${nextDir}
         )}">
                        Name
                        <span th:text="${nextDir=='asc' ? '↑' : '↓'}"></span>
                    </a>

                    <!-- Sort by abv -->
                    <a class="header-cell"
                       th:href="@{/beers(
             beerName=${param.beerName},
             styleName=${param.styleName},
             minAbv=${param.minAbv},
             maxAbv=${param.maxAbv},
             sortBy='abv',
             sortOrder=${nextDir}
         )}">
                        ABV
                        <span th:text="${nextDir=='asc' ? '↑' : '↓'}">asd</span>
                    </a>

                    <!-- Sort by style -->
                    <a class="header-cell"
                       th:href="@{/beers(
             beerName=${param.beerName},
             styleName=${param.styleName},
             minAbv=${param.minAbv},
             maxAbv=${param.maxAbv},
             sortBy='style',
             sortOrder=${nextDir}
         )}">
                        Style
                        <span th:text="${nextDir=='asc' ? '↑' : '↓'}"></span>
                    </a>

                    <div class="header-cell" th:if="${creatorEmail != null}">Creator</div>
                </div>
                <div class="row" th:each="beer : ${beers}">
                    <div class="cell">
                        <a th:href="@{/beers/{id}(id=${beer.id})}" th:text="${beer.name}">Beer Name 1</a>
                    </div>
                    <div class="cell" th:text="${beer.abv} + '%'">5.0%</div>
                    <div class="cell" th:text="${beer.style.name}">IPA</div>
                    <div class="cell"
                         th:if="${creatorEmail != null}"
                         th:text="${creatorEmail}">Creator email
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <small>©️ Copyright 2024, BeerTag</small>
</footer>
</body>
</html>