<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       lang="en">
<head>
    <meta charset="utf-8" />
    <title>BeerTag | Home</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<!-- The header and footer section are the same in each page -->
<header>
    <div>
        <h3>
            <a th:href="@{/}">Home</a>
            | <a th:href="@{/beers}">Beers</a>
            | <a th:href="@{/about}">About</a>
        </h3>
    </div>
</header>

<div class="body-content">
    <h2>Something went wrong :(</h2>
    <h2 class="label-error" th:text="${statusCode}"></h2>
    <img th:src="@{/images/logo.png}" alt="BeerTag logo"/>
</div>

<footer>
    <small>©️ Copyright 2024, BeerTag</small>
</footer>
</body>
</html>