<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       lang="en">
<head>
    <meta charset="utf-8" />
    <title>BeerTag | Home</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<!-- The header and footer section are the same in each page -->
<header>
    <div th:replace="HeaderTemplate:: navigation-bar"></div>
</header>

<div class="body-content">
    <h2>Welcome (design)!</h2>
    <img th:src="@{/images/logo.png}" alt="BeerTag logo"/>
    <p>A beer a day keeps the doctor away!</p>
</div>

<footer>
    <small>©️ Copyright 2024, BeerTag</small>
</footer>
</body>
</html>