<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="utf-8"/>
    <title>BeerTag | AllBeers</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<!-- The header and footer section are the same in each page -->
<header>
    <div th:replace="HeaderTemplate:: navigation-bar"></div>
</header>

<div>
    <form class="margin12" action="#" method="post" th:action="@{/auth/login}" th:object="${user}">
        <label th:text="Username" class="form-label">Username</label>
        <br/>
        <input class="form-input" type="text" th:type="text" th:field="*{username}"/>
        <label class="label-error" th:errors="*{username}">Username error</label>
        <br/>
        <label th:text="Password" class="form-label">Password</label>
        <br/>
        <input class="form-input" th:type="password" th:field="*{password}"/>
        <label class="label-error" th:errors="*{password}">Password error</label>
        <br/>
        <button type="submit" class="btn-primary" th:text="Login">Login</button>
    </form>
</div>

<footer>
    <small>©️ Copyright 2024, BeerTag</small>
</footer>
</body>
</html>