<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="utf-8"/>
    <title>BeerTag | AllBeers</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<!-- The header and footer section are the same in each page -->
<header>
    <div th:replace="HeaderTemplate:: navigation-bar"></div>
</header>

<div>
        <div>
            <h2 class="center">Beer View</h2>
            <div class="table">

                <div class="row">
                    <div class="cell" th:text="${beer.name}">Beer Name 1</div>
                </div>
                <div class="row">
                    <div class="cell" th:text="${beer.abv} + '%'">5.0%</div>
                </div>


                <div class="row">
                    <div class="cell" th:text="${beer.style.name}">IPA</div>
                </div>


                <div class="row">
                    <div class="cell" th:text="${creatorEmail}">Creator email</div>
                </div>
                <div class="row">
                    <div class="cell">
                        <a th:href="@{/beers/update/{id}(id=${beer.id})}" th:text="Update"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                        <a th:href="@{/beers/delete/{id}(id=${beer.id})}" th:text="Delete"></a>
                    </div>
                </div>
<!--                <div class="cell">-->
<!--                    <form th:action="@{/beers/{id}(id=${beer.id})}" method="post" onsubmit="return confirm('Delete this beer?');">-->
<!--                        <input type="hidden" name="_method" value="delete"/>-->
<!--                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
<!--                        <button type="submit">Delete</button>-->
<!--                    </form>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</div>

<footer>
    <small>©️ Copyright 2024, BeerTag</small>
</footer>
</body>
</html>